
@media (min-width: 768px) {
.scheme {
    padding-bottom: 2rem;
    padding-top: 5rem;
    display: flex;
    align-items: center;
    margin-left: 35%;

    .scheme_course{

        width: 100%;
    }
}

}