
@media (min-width: 768px) {

.imagex {

    box-sizing: border-box;
    width: 100%;

}

.emoticon {
    color: black;
    text-align: left;
}



.rrss {
    color: black;
    text-align: center;
}

.content_2_three_3 {
    text-align: center;

}

.imagex_2 {

    width: 100%;
    margin-left: 0;
}
}


